body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section.intro {
    padding: 20px;
    text-align: center;
}

section.multimedia {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.package {
    display: inline-block;
    width: 300px; 
    margin: 0 20px 40px; 
    text-align: center; 
}

.package img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 15px; 
}

.package p {
    font-size: 1rem;
    color: #555; 
}
